/* Sidebar styles */
#sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidenav h2 {
    margin-bottom: 20px;
}

#sidenav ul {
    list-style-type: none;
    padding: 0;
}

#sidenav ul li {
    padding: 10px;
    text-align: center;
}

#sidenav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#sidenav ul li a:hover {
    background-color: #575757;
}

#main-content {
    margin-left: 250px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/digital-technology-background-vector-with-hexagon-border-dark-purple-tone_53876-126074.jpg?semt=ais_hybrid');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#container {
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 30px;
    background-color: black;
    margin: 0.5px;
    transition: height 0.1s ease-in-out;
}
